@import 'sourdough-reset/index.styl'
@import 'sourdough-typography/index.styl'
@import 'sourdough-grid/index.styl'
@import 'sourdough-buttons/index.styl'

:root
  --base-heading-font-family: Arial, Helvetica, sans-serif
  --grid-gutter: 50px
